.App {
  text-align: center;

}

.App-logo {
  margin-top: 2rem;
  height: 80px;
}

.App-header {
  padding: 10px;
  font-size: 24px;

}

form {
  margin: 0 auto;
}

.App-intro {
  font-size: large;
}

.toDoListButton {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #EFA41F;
  color: #FFF;
  border: 2px solid #EFA41F;
}

.toDoListButton:hover {
  background-color: #CB8812;
  border: 2px solid #CB8812;
  cursor: pointer;
}

.ion-android-star {
  font-size: 25px;
}

.newAssignmentAdd {
  padding: 10px;
  font-size: 16px;
}

.thingstodo {
  text-shadow: #333 1px 1px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
