.AssignmentPage__content {
  margin-top: 20px;
}
.AssignmentPage__items {
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  width: 300px;
  text-align: center;
}

.AssignmentPage__listitem {
  cursor: pointer;
  box-shadow: 1px 1px;
  color: #333;
  background-color: rgba(255,255,255,.7);
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}


.item__text {
  padding: 1rem;
  margin: 0;
  text-shadow: #333 .5px .5px;
}

/*.AssignmentPage__listitem i {
  visibility: hidden;
  color: #black;
}

.AssignmentPage__listitem i:hover {
  visibility: visible;
}*/

.noAssignment__text {
  color: #EFA41F;
  text-shadow: #333 1px 1px;
}

.ion-trash-a {
  color: #EFA41F;
  padding-left: 30px;
  cursor: pointer;
  text-shadow: #333 .5px .5px;
  float:right;


}

.ion-android-star {
  padding-right: 30px;
  cursor: pointer;
  text-shadow: #333 .5px .5px;
  float:left;

}
